@using PagedList.Mvc;
@model PagedList.IPagedList<Data.Models.product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<div class="container">
    <div class="col-md-12 mt-40">
        <hr>
        <h4 class="title">List product</h4>

        <div data-example-id="striped-table" class="bs-example">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>

                        <th> date production</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">  @Html.DisplayFor(modelItem => item.ProductPk)</th>

                            <td>@Html.DisplayFor(modelItem => item.DateProd)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td> @Html.DisplayFor(modelItem => item.Quantity)</td>
                            <td> @Html.DisplayFor(modelItem => item.Description)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ProductPk }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ProductPk }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ProductPk })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <nav>
            <ul class="pagination theme-colored mt-0">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount



                @Html.PagedListPager(Model, page => Url.Action("Index",

    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </ul>
        </nav>

    </div>
</div>
