@model IEnumerable<Data.Models.category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<div class="container">
    <div class="col-md-12 mt-40">
        <hr>
        <h4 class="title">List Category</h4>

        <div data-example-id="striped-table" class="bs-example">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">  @Html.DisplayFor(modelItem => item.CategoryId)</th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.CategoryId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>
    </div>

</div>