<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="ngopress - Nonprofit, Crowdfunding & Charity HTML5 Template" />
    <meta name="keywords" content="charity,crowdfunding,nonprofit,orphan,Poor,funding,fundrising,ngo,children" />
    <meta name="author" content="ThemeMascot" />

    <!-- Page Title -->
    <title>Ngopress - Nonprofit, Crowdfunding & Charity HTML5 Template</title>

    <!-- Favicon and Touch Icons -->
    <link href="@Url.Content("~/Content/mytemplate/")images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="@Url.Content("~/Content/mytemplate/")images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="@Url.Content("~/Content/mytemplate/")images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="@Url.Content("~/Content/mytemplate/")images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="@Url.Content("~/Content/mytemplate/")images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="@Url.Content("~/Content/mytemplate/")css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/mytemplate/")css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/mytemplate/")css/animate.css" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/mytemplate/")css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="@Url.Content("~/Content/mytemplate/")css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="@Url.Content("~/Content/mytemplate/")css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="@Url.Content("~/Content/mytemplate/")css/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="@Url.Content("~/Content/mytemplate/")css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="@Url.Content("~/Content/mytemplate/")css/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
    <!-- CSS | Theme Color -->
    <link href="@Url.Content("~/Content/mytemplate/")css/colors/theme-skin-blue.css" rel="stylesheet" type="text/css">

    <!-- external javascripts -->
    <script src="@Url.Content("~/Content/mytemplate/")js/jquery-2.2.4.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/jquery-ui.min.js"></script>
    <script src="@Url.Content("~/Content/mytemplate/")js/bootstrap.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="@Url.Content("~/Content/mytemplate/")js/jquery-plugin-collection.js"></script>


</head>
<body>
    <div>

        <div id="wrapper" class="clearfix">
            <!-- preloader -->
            <div id="preloader">
                <div id="spinner">
                    <img class="floating" src="images/preloaders/13.png" alt="">
                    <h5 class="line-height-50 font-18 ml-15">Loading...</h5>
                </div>
                <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
            </div>
            <!-- Header -->
            <header id="header" class="header">
                <div class="header-top sm-text-center bg-theme-colored">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <nav>
                                    <ul class="list-inline sm-text-center text-left flip mt-5">
                                        <li> <a class="text-white" href="#">FAQ</a> </li>
                                        <li class="text-white">|</li>
                                        <li> <a class="text-white" href="#">Help Desk</a> </li>
                                        <li class="text-white">|</li>
                                        <li> <a class="text-white" href="#">Support</a> </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-6">
                                <div class="widget m-0 mt-5 no-border">
                                    <ul class="list-inline text-right sm-text-center">
                                        <li class="pl-10 pr-10 mb-0 pb-0">
                                            <div class="header-widget text-white"><i class="fa fa-phone"></i> 58-690-251 </div>
                                        </li>
                                        <li class="pl-10 pr-10 mb-0 pb-0">
                                            <div class="header-widget text-white"><i class="fa fa-envelope-o"></i> voulunteering@esprit.tn </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2 text-right flip sm-text-center">
                                <div class="widget m-0">
                                    <ul class="styled-icons icon-dark icon-circled icon-theme-colored icon-sm">
                                        <li class="mb-0 pb-0"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="mb-0 pb-0"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="mb-0 pb-0"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="mb-0 pb-0"><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-nav">
                    <div class="header-nav-wrapper navbar-scrolltofixed bg-lighter">
                        <div class="container">
                            <nav id="menuzord-right" class="menuzord default no-bg">
                                <a class="menuzord-brand pull-left flip" href="index-mp-layout1.html"><img src="images/logo-wide.png" alt="" /></a>
                                <ul class="menuzord-menu">
                                    <li class="active">
                                        <a href="#home">Home</a>


                                    </li>

                                    <li>
                                        <a href="#">Product</a>
                                        <ul class="dropdown">
                                            <li><a href="page-event-list.html">Product List</a></li>
                                            <li><a href="page-event-grid-3column.html">Product 3column</a></li>
                                            <li><a href="page-event-grid-4column.html">Event 4column</a></li>
                                            <li><a href="page-single-event.html">Single Event</a></li>
                                            <li><a href="page-event-calendar.html">Event Calendar</a></li>
                                        </ul>
                                    </li>


                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Start main-content -->
            <div class="main-content">

                <!-- Section: inner-header -->
                @RenderBody()
                <!-- end main-content -->

            </div>

        <script src="@Url.Content("~/Content/mytemplate/")js/chart.js"></script>
        <script src="@Url.Content("~/Content/mytemplate/")js/custom.js"></script>
</body>
</html>
